.header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
  background-color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

.mytimes {
  padding: 20px 10px;
  color: MediumAquamarine;
}

.header nav {
  padding-right: 40px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

a {
  color: black;
}

body {
  margin: 0;
}

/*remove later*/
.countainer,
.column,
.headline,
.story {
  border: 1px solid black;
}

.container,
.column {
  display: flex;
}

.container {
  position: absolute;
  margin-top: 90px;
  margin-bottom: 78px;
  width: 100%;
  justify-content: space-around;
}

.column {
  flex-direction: column;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

.one {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
}

.two {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
}
.three {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
}

.four {
  background-size: 100% auto;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
}

.headline p {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.headline.one p {
  font-size: 40px;
}

p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.headline {
  display: flex;
  height: auto;
}
