.header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
  background-color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  top: 0;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

.mytimes {
  padding: 20px 10px;
  color: MediumAquamarine;
}

.header nav {
  padding-right: 40px;
}

nav span {
  padding: 20px 10px;
}

a {
  color: black;
}

body {
  margin: 0;
}

/*remove later
.countainer,
.column,
.headline,
.story {
  border: 1px solid black;
} */

.container,
.column,
.stories {
  display: flex;
}

.container {
  margin-top: 90px;
  margin-bottom: 78px;
  width: 100%;
  justify-content: space-around;
}

.column,
.story.part1,
.story.part2 {
  flex-direction: column;
}

.column.large {
  width: 660px;
}

.stories {
  align-items: center;
  justify-content: center;
}

.story.part1,
.story.part2 {
  padding: 10px 20px;
}
.column.medium {
  width: 330px;
}

.column.small {
  width: 270px;
}

.one {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
}

.two {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
}
.three {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
}

.four {
  background-size: 100% auto;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
}

.headline p {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.headline.one p {
  font-size: 40px;
}

p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.headline {
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  margin-top: 15px;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

h1.newbite {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 16px 0;
  padding: 20px 0;
}

.bite {
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  padding: 11px 20px;
  margin: 0;
  border-bottom: 1px solid black;
}

.footer {
  display: flex;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 325px;
  margin: auto;
  position: relative;
}

.title {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding-right: 30px;
  border-right: 2px solid white;
}

.footer nav {
  display: inline-block;
  padding-left: 30px;
}

.copyright p {
  font-family: Verdana;
  font-size: 12px;
}
